<h2>Table of Content</h2>
<a href="#introduction">Introduction</a>
<hr>

<h2 id="Introduction">:: Introduction ::</h2>
<br>

<h3>Declarative Rendering</h3>

<h5>Straightforward template syntax</h5>
<div id="app">
  {{ message }}
</div>
<hr>

<h5>Binding Element</h5>
<div id="app-2">
  <span v-bind:title="message">
    Hover your mouse over me for a few seconds
    to see my dynamically bound title!
  </span>
</div>
<hr>

<h3>Conditional and Loops</h3>

<h5>Conditional</h5>
<div id="app-3">
  <span v-if="seen">Now You See Me</span>
</div>
<hr>

<h5>Loop</h5>
<div id="app-4">
  <ol>
    <li v-for="todo in todos">{{ todo.text }}</li>
  </ol>
</div>
<hr>

<h3>Handle User Input</h3>

<h5>On Click</h5>
<div id="app-5">
  <div>{{ message }}</div>
  <button v-on:click="reverseMessage">Reverse!</button>
</div>
<hr>

<h5>Model</h5>
<div id="app-6">
  <div>{{ message }}</div>
  <input v-model="message" type="text">
</div>
<hr>